.footer {
  background-color: $bg-secondary;
  color: $text_white;
  display: flex;
  justify-content: center;
  padding: 40px 30px;

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 200px;
    flex-basis: 1100px;
  }

  &__leftBlock {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 550px;
  }

  &__paragraph {
    margin: 0;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__mail {
    text-decoration: none;
    color: $text_white;
  }

  &__rightBlock {
    display: flex;
    flex-direction: column;
    gap: 30px;

    & > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: 5px;

      & > span > a {
        text-decoration: none;
        color: $text_white;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .footer {
    &__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 30px;
    }

    &__paragraph {
      font-size: 40px;
    }

    &__mail {
      font-size: 22px;
    }
  }
}
