.wrapper {
  display: flex;
  gap: 20px;
  position: relative;
}

.link {
  color: inherit;
  text-decoration: none;
  padding: 5px 0;
  letter-spacing: 0.12em;
}

.activeLink {
  font-weight: 500 !important;
  padding: 5px 0;
  letter-spacing: 0.12em;
  color: $text_primary;
  text-decoration: underline;
}

.link:hover {
  transition:
    color 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  color: $text_primary;
  text-decoration: underline;
}
