.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__main {
    background-color: $bg_primary;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 220px 0px 80px;
    width: 100%;

    &_res1 {
      background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.6)),
        url('../../shared/ui/icon/assets/images/research1.png');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }

  &__titles {
    border-bottom: 1px $gray solid;
    padding-bottom: 40px;
  }

  &__title {
    line-height: 110px;
    font-size: 110px;
    color: $text_white;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -8px;
    text-align: left;
    width: fit-content;
  }

  &__description {
    font-weight: 700;
    color: #afafaf;
    font-size: map-get($font-size, M);
    line-height: 24px;
    text-align: left;
    padding-top: 20px;
    position: relative;
  }

  &__bottom_title {
    margin-top: -10px;
  }

  &__resources_title {
    position: relative;
    padding-left: calc(50% - 600px + 421px);
  }
}

.block_wrapper {
  padding: 0 20px;
  color: $text_primary;
  max-width: 1200px;
}

.info_text {
  text-align: left;
}

.info_block {
  display: flex;
  padding: 30px 0 0;
  position: relative;
  flex-direction: column;
}

.info_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ru_style {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.newsBlock {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.student_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.student {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
}

.leftImage {
  width: 190px;
  height: 239px;
  position: absolute;
  left: 0;
  top: 0;
}

.left_image_wrapper {
  position: relative;
}

.margin_top {
  margin-top: 70px;
}

.research {
  display: flex;
  flex-direction: column;
  gap: 30px;
  &__cards {
    display: flex;
    gap: 25px;
  }

  &__card {
    display: flex;
    align-items: end;
    gap: 15px;
    height: fit-content;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }

  &__smallImage {
    width: 150px;
    height: 90px;
  }

  &__bigImage {
    width: 100%;
    height: 324px;
  }

  &__visibleOn900 {
    display: none;
  }

  &__researchCardImage {
    width: 100%;
    height: 200px;
    cursor: pointer;
  }

  &__borderBottom {
    border-bottom: 1px $gray solid;
  }

  &__cardWrapper {
    align-items: end;
  }
}

.education {
  &__bigImage {
    width: 100%;
    height: 373px;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.two_column {
  grid-column: span 2;
}

.visibleOn900 {
  display: none;
}

.researchImages {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.research1 {
  font-size: 75px;
  text-align: left;
  &__leftPart {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__rightColumn {
    display: flex;
    gap: 20px;
  }

  &__number {
    color: $gray;
  }
  &__advantages {
    display: flex;
    gap: 20px;
  }

  &__ourTaskInfo {
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  &__disAdvImg {
    object-fit: cover;
    width: 100%;
    height: 394px;
  }

  &__ourTaskItems {
    border-top: 1px $gray solid;
  }

  &__ourTaskDesc {
    letter-spacing: -1px;
    font-size: 18px !important;
    line-height: 18px !important;
  }

  &__resultImage1 {
    width: 100%;
    height: 309px;
  }

  &__resultImage2 {
    width: 100%;
    height: 191px;
  }

  &__ourTaskList {
    width: 50%;
  }

  &__taskImage {
    object-fit: cover;
    width: 100%;
    height: 394px;
  }

  &__ourTask {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__resultLeftImage {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__otherStudies {
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: pointer;
  }
  &__otherStudiesImg {
    width: 100%;
    height: 190px;
    object-fit: cover;
    transition: opacity 0.3s ease;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }

  &__hideImg {
    object-fit: cover;
    width: 190px;
    height: 190px;
  }

  &__hideElem {
    width: 190px;
    height: 190px;
    display: none;
  }
}

@media screen and (min-width: 630px) and (max-width: 955px) {
  .wrapper {
    &__title {
      font-size: 75px;
      line-height: 75px;
      letter-spacing: -4px;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 630px) {
  .wrapper {
    &__title {
      font-size: 60px;
      line-height: 60px;
      letter-spacing: -6px;
    }
    &__description {
      padding: 0 50px 0 60px;
    }
  }
  .research1 {
    &__advantages {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    &__title {
      font-size: 42px;
      line-height: 55px;
      letter-spacing: -4px;
    }
    &__description {
      padding: 0 50px 0 130px;
    }
  }

  .block_wrapper {
    padding: 0 30px;
  }
  .research1 {
    &__leftPart {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__advantages {
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    &__main {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 220px 0px 80px;
      gap: 0px;
    }
    &__titles {
      padding-bottom: 20px;
    }

    &__resources_title {
      position: relative;
      width: 100%;
      padding-left: 0;
      text-align: right;
    }
  }
  .block_wrapper {
    padding: 0 30px;
  }
  .research {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__cards {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &__card {
      display: flex;
      align-items: end;
      gap: 15px;
    }

    &__smallImage {
      width: 60px;
      height: 77px;
    }

    &__bigImage {
      width: 220px;
      height: 125px;
    }

    &__hideBlock {
      display: none;
    }
    &__visibleOn900 {
      display: block;
    }

    &__researchCardImage {
      width: 100%;
      height: 200px;
    }
  }

  .education {
    &__bigImage {
      width: 100%;
      height: 142px;
    }
  }

  .row {
    grid-template-columns: 1fr;
  }

  .two_column {
    grid-column: 1 / span 1;
  }

  .two_column ~ .two_column {
    grid-row: 2;
    grid-column: 1 / span 1;
  }

  .leftImage {
    position: static;
    width: 100%;
    height: 155px;
  }

  .research1 {
    &__hideImg {
      display: none;
    }

    &__hideElem {
      display: block;
    }
  }
}
