.wrapper {
  display: flex;
  flex-direction: column;

  &__main {
    background-color: $bg_primary;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 220px 230px 80px;
    gap: 30px;
  }

  &__titles {
    border-bottom: 1px $gray solid;
    padding-bottom: 40px;
  }

  &__title {
    line-height: 110px;
    font-size: 110px;
    color: $text_white;
    font-size: 120px;
    line-height: 1;
    font-weight: 400;
    letter-spacing: -8px;
    text-align: left;
  }

  &__description {
    font-weight: 700;
    color: #afafaf;
    font-size: map-get($font-size, M);
    line-height: 24px;
    text-align: left;
    padding-top: 20px;
    position: relative;
  }

  &__bottom_title {
    margin-top: -10px;
  }

  &__resources_title {
    position: relative;
    width: min-content;
    left: calc(50% - 600px + 421px);
    margin-top: -20px;
  }
}

.block_wrapper {
  padding: 50px 230px;
  color: $text_primary;
}

.variant {
  display: flex;
  align-items: end;
}

.block_title {
  border-bottom: 1px $text_primary solid;
  padding: 10px 0;
}

.title_text {
  font-size: map-get($font-size, XL);
  line-height: 1;
  font-weight: 400;
  letter-spacing: -1px;
  text-align: left;
}

.title {
  line-height: 110px;
  font-size: 110px;
  color: $text_white;
  font-size: 120px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -8px;
  text-align: left;
}

.info_text {
  text-align: left;
}

.info_block {
  display: flex;
  padding: 30px 0 0;
  position: relative;
  flex-direction: column;
}

.info_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ru_style {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.newsBlock {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.student_wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.student {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
}

.leftImage {
  position: absolute;
  left: 0;
  top: 0;
}

.left_image_wrapper {
  position: relative;
}

.margin_top {
  margin-top: 70px;
}

.research {
  display: flex;
  flex-direction: column;
  gap: 30px;
  &__cards {
    display: flex;
    gap: 10px;
    padding-bottom: 30px;
    border-bottom: 1px $gray solid;
  }

  &__card {
    display: flex;
    align-items: end;
    gap: 15px;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.two_column {
  grid-column: span 2;
}
