.students {
  display: flex;
  justify-content: center;

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 1100px;
    padding: 0 20px;
  }

  &__heading {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 16px;
    align-items: end;
    border-bottom: 1px solid $gray;
    letter-spacing: -1px;

    & > h1,
    & > h5 {
      line-height: 1;
      margin: 0;
      padding: 5px 0;
      color: $text_primary;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    & > h5 {
      text-align: end;
      margin: 0;
      padding: 10px 0;
      color: $gray;
      border-bottom: 1px solid $gray;
    }
  }
  &__name {
    display: flex;
    align-items: center;
    gap: 5px;
    color: $text_primary;
    border-bottom: 1px solid $gray;

    & > h4 {
      letter-spacing: -1px;
      margin: 0 0 0 12px;
      padding: 7px 0;
    }

    & > span {
      color: $gray;
    }
  }
}
