.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 99px;
  transition: 0.4s ease;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  color: $white;
  z-index: 2;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  width: 100%;
  max-width: 1200px;
}

.nav {
  display: flex;
  gap: 51px;

  &__links {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__link {
    cursor: pointer;
    text-decoration: none;
    padding: 5px 0;
    letter-spacing: 0.12em;
  }
}

.dropdown {
  padding: 18px 20px;
  position: absolute;
  z-index: 6000000;
  max-width: 150px;
  background-color: #fff;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transform: translateX(-38%);
  top: 75px;
}

.dropdown::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: solid transparent;
  border-width: 10px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
  top: -20px;
  border-bottom-color: #fff;
}

.dropdown__item {
  font-size: 10px;
  color: #c0c6e1;
  font-family: 'Inter';
  text-transform: uppercase;
  cursor: pointer;
  text-align: left;
  font-weight: 600;

  &:hover {
    transition:
      color 0.3s ease-in-out,
      text-decoration 0.3s ease-in-out;
    color: $text_primary;
    text-decoration: underline;
  }
}

.menu {
  display: none;
}

.sticky {
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.13) 0 4px 16px;
  color: $black;
}

.activeBox {
  background-color: $black;
}

.title {
  cursor: pointer;

  & > div {
    font-size: 20px;
    line-height: 22px;
    text-align: left;
    font-weight: 600;
    letter-spacing: 0.03em;
  }
}

.boxLinks {
  position: fixed;
  top: 49px;
  bottom: 0;
  left: 0;
  padding: 10vh 0;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0;
  transition: all 0.4s ease;
  transform: translateX(-140%);
  opacity: 0;
  z-index: 10;

  &__active {
    transform: translateX(0);
    opacity: 1;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  &__link {
    text-align: center;
    color: $black;
    text-decoration: none;
    letter-spacing: 0.07em;
    font-size: 4vh;
    line-height: 12vh;
    width: 100%;
    transition:
      color 0.3s ease-in-out,
      opacity 0.3s ease-in-out;

    &_active {
      font-weight: 500 !important;
      opacity: 0.7;
      color: $text_primary;
    }
  }

  &__sublist {
    height: 0;
    opacity: 0;
    list-style: none;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transition: opacity 0.3s ease-in-out;

    &_selected {
      height: 73px;
      opacity: 1;
    }
  }

  &__sublink {
    cursor: pointer;
    text-decoration: none;
    font-size: 10px;
    color: $gray;
    letter-spacing: 0.3em;

    &_active {
      font-weight: 500 !important;
      opacity: 0.7;
      color: $text_primary;
    }
  }
}

@media screen and (max-width: 1050px) {
  .wrapper {
    height: 50px;
  }

  .container {
    padding: 0 20px 0 0;
  }

  .menu {
    transition: 0.4s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;

    & > svg {
      width: 30px;
      height: 30px;
    }
  }

  .nav__links {
    display: none;
  }

  .title > div {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 500;
  }
}

@media screen and (max-width: 340px) {
  .title > div {
    font-size: 12px;
    margin: 0;
  }
}
