.subHeading {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 12px;
  align-items: end;
  border-bottom: 1px solid $gray;
  letter-spacing: -1px;
  scroll-behavior: smooth;

  & > h1,
  & > h5 {
    line-height: 1;
    margin: 0;
    padding: 10px 0;
    color: $text_primary;
  }

  & > h1 {
    font-size: clamp(18px, 5.5vw, 28px);
    line-height: clamp(18px, 5.5vw, 28px);
  }
}

@media screen and (max-width: 600px) {
  .subHeading {
    display: flex;
    justify-content: space-between;

    & > h1 {
      text-align: right;
    }
  }
}
