.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    $gray 1px 1px 5px,
    $gray -1px -1px 5px;
  border-radius: $borderRadiusM;
  max-width: fit-content;
  cursor: pointer;
  transition: all 0.5s;

  &__main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;

    img {
      object-fit: cover;
      width: 200px;
      height: 120px;
      border-radius: $borderRadiusM;
    }
  }
  &__descr {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }

  &:hover {
    box-shadow:
      $gray 2px 2px 10px,
      $gray -2px -2px 10px;
  }
}
