$text_primary: #2542a0;
$text_white: #dfe1e3;
$text_gray: #afafaf;
$text_blue_dark: #2b528a;

$gray: #bfbfbf;
$white: #fff;
$black: #000;

$bg_primary: #230093;
$bg-secondary: #2542a0;
$bg-gray: #f0f0f0;
