.desc {
  height: 600px;
  display: flex;
  justify-content: center;

  &__wrapper {
    position: relative;
    padding: 0 20px;
    display: flex;
    gap: 20px;
    flex-basis: 1100px;
  }

  &__leftBlock {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 50%;
  }

  &__heading {
    margin: 0;
    padding: 0;
    color: $text_primary;
    font-size: 100px;
    line-height: 105px;
  }

  &__body {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__leftImage {
    width: 170px;
    height: 214px;
  }

  &__bubble {
    display: none;
  }

  &__text {
    margin: 0;
    padding: 0;
    color: $text_primary;
  }

  &__rightBlock {
    width: 50%;
  }

  &__rightImage {
    object-fit: cover;
    width: 100%;
    max-height: 474px;
  }
}

@media screen and (max-width: 1200px) {
  .desc {
    &__wrapper {
      padding: 0 100px;
    }

    &__leftBlock {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 20px;
    }

    &__body {
      display: flex;
      flex-direction: column-reverse;

      & > div {
        display: flex;
        align-items: flex-end;
        gap: 30px;
      }
    }

    &__bubble {
      display: block;
      max-height: 322px;
    }

    &__rightImage {
      object-fit: cover;
      width: 440px;
      max-height: 322px;
    }

    &__text {
      max-width: 900px;
      font-size: 18px;
    }

    &__rightBlock {
      display: none;
    }
  }
}

@media screen and (max-width: 850px) {
  .desc {
    &__wrapper {
      padding: 0 50px;
    }
  }
}

@media screen and (max-width: 780px) {
  .desc {
    &__wrapper {
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 700px) {
  .desc {
    &__wrapper {
      padding: 0 50px;
    }

    &__heading {
      font-size: 80px;
      line-height: 1;
    }

    &__leftImage {
      width: 90px;
      height: 120px;
    }

    &__bubble {
      display: block;
      max-height: 244px;
    }

    &__rightImage {
      width: 330px;
      height: 244px;
    }
  }
}

@media screen and (max-width: 550px) {
  .desc {
    height: 350px;

    &__wrapper {
      padding: 20px;
    }

    &__heading {
      font-size: 40px;
    }

    &__leftImage {
      width: 60px;
      height: 80px;
    }

    &__rightImage {
      width: 220px;
      height: 162px;
    }

    &__text {
      max-width: 400px;
      font-size: 14px;
    }
  }
}
